# Django
SECRET_KEY=TU_SECRET_KEY_AQUI
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Environment (dev o prod)
ENV_TYPE=dev

# Redis Cache (opcional en dev, requerido en prod)
REDIS_URL=redis://localhost:6379/0
CACHE_KEY_PREFIX=arsforte

# Rate Limiting
RATELIMIT_ENABLE=True
RATELIMIT_USE_CACHE=default
RATELIMIT_CACHE_PREFIX=rl: